<% if chats.present? %>
    <table class="table">
        <tbody>
            <% chats.each do |chat| %>
            <tr>
                <td><%= chat.message %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
<% end %>